<%- include('../partials/header') %> 
    <main>
        <aside>
        
            <div id="productos-header">
                <!-- Barra de búsqueda -->
                <input type="text" id="busqueda" placeholder="Buscar por nombre">
            </div>
            
            <div id="productos-actions">
                <!-- Título "Lista de Productos" -->
                <h1>Lista de Productos</h1>
            
                <!-- Botón "Agregar" -->
                <button class="bt-agregar" onclick="agregarProducto()">Agregar</button>
            </div>
            

            <!-- Tabla de productos -->
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Nombre del Producto</th>
                        <th>Categoría</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="productos"></tbody>
            </table>
    </main>


    <%- include('./partials/footer') %>
    <script src="../js/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>

</html>