<%- include('../partials/header') %> 
    <main class="main__login">
        <h1 class="tittle__login">INGRESAR A MI CUENTA</h1>
        <div class="login__container">
            <form class="form__login" action="">
                <div class="email">
                    <label class="date" for="user">Email:</label>
                    <input type="email" name="user" id="user" placeholder="johndoe@correo.com">
                </div>
                
                <div class="password">
                    <label class="date" for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" placeholder="contraseña">
                </div>
                
                <div class="login">
                    <button class="button__login">Ingresar</button>
                    <div>
                        <input title="d" type="checkbox" name="recordarme" id="recordarme" value="Recordarme">
                        <label class="recordarme" for="">Recordarme</label>
                    </div>
                </div>
                <a class="olvide" href="">Olvidé mi contraseña</a>
            </form>
        </div>
        
    </main>

<!-- Inicio Footer>-->
    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/shop.html">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/register.html">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/contact.html">CONTACTO</a>
                </li>
            </ul>
            <picture class="navbar__footer__logo">
                    <img src="../img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
            </picture>
        </nav>
        <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
<!-- Fin Footer-->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="../js/item.js"></script>
    <script src="../js/glide.js"></script>
</body>
</html>